@media screen and (max-width: 1000px) {
  [data-mobilemarginbottom="true"] {
    margin-bottom: 70px;
  }
}

#ping[type*="chatbot"] {
  width: 300px;
  height: 150px;
  transition: width 200ms ease 0s, height 200ms ease 0s,
    max-height 200ms ease 0s, transform 300ms cubic-bezier(0, 1.2, 1, 1) 0s,
    opacity 83ms ease-out 0s;
}

[type*="chatbot"] #ping__widget-iframe {
  display: initial !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  background: transparent !important;
}

[class*="ping__widget-position-"][type*="chatbot"] {
  display: flex;
  align-items: flex-end;
  position: fixed;
  z-index: 99999999999999999999;
  width: inherit;
  height: inherit;
  right: 20px;
  bottom: 20px;
}

.ping__widget-position-bottom-right[type*="chatbot"] {
  right: 20px;
  bottom: 20px;
}

.ping__widget-position-bottom-left[type*="chatbot"] {
  left: 20px;
  bottom: 20px;
}

.ping__widget-position-top-right[type*="chatbot"] {
  right: 20px;
  top: 20px;
}

.ping__widget-position-top-left[type*="chatbot"] {
  left: 20px;
  top: 20px;
}

[type*="chatbot"] #ping__widget-iframe body::-webkit-scrollbar {
  width: 1em;
}

[type*="chatbot"] #ping__widget-iframe body::-webkit-scrollbar-track {
  background: unset;
}

[type*="chatbot"] #ping__widget-iframe body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media screen and (max-width: 800px) {
  .ping__widget-position-bottom-right[type*="chatbot"] {
    right: 10px;
    bottom: 10px;
  }

  .ping__widget-position-bottom-left[type*="chatbot"] {
    left: 10px;
    bottom: 10px;
  }

  .ping__widget-position-top-right[type*="chatbot"] {
    right: 10px;
    top: 10px;
  }

  .ping__widget-position-top-left[type*="chatbot"] {
    left: 10px;
    top: 10px;
  }
}
